.App {
  text-align: center;
}

.formInput {
  margin: 5px;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  
}

.form {
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 300px;
}

